* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: goldenrod;
    background-color: whitesmoke;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    transition: background-color .5s;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h2 {
    padding-top: 20px;
    font-size: 5vh;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px goldenrod;
    text-decoration:none;
}
h4, p {
    color: lightslategray;
}

p {
    font-size: 12px;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

.row {
    padding-top: 20px;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer, small{
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #0abab5;
    text-align:center;
    background: whitesmoke; 
    padding-bottom: 20px;
    /* background-color:rgb(88, 88, 88); */
  }

/* Style inputs */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid gainsboro;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0abab5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0abab5;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus { /* removes blue outline on Chrome */
      outline: none;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gainsboro;
    opacity: 1; /* Firefox */
    
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: goldenrod;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: goldenrod;
  }
  
  select {
    color: goldenrod;
  }

 .avatar {
    vertical-align: right;
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }
  
  img {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
   
  .fa {
    /* padding: 10px; */
    font-size: 30px;
    /* width: 40px; */
    text-align: center;
    text-decoration: none;
    /* margin: 10px; */
    border-radius: 10%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    /* background: #007bb5; */
    color: #007bb5;
  }
  
  .fa-github {
    /* background: black; */
    color: black;
  }
  
  .fa-instagram {
    /* background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
    color:  #cc2366;
  }

  .social-icon {
    padding-top: 50px;
    text-align: center;  
    margin-top: 10px;
  }

  i{
    text-align: center;
  }
   /*
  #social #container {
    text-align: center;
  }
  
  #social #container ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  #social #container ul li {
    float: left;
    padding-left: 45px;
    list-style-type: none;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } */