/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
  background: whitesmoke; 
  -webkit-font-smoothing: antialiased;
}

div {
  display: block;
  }

h2 {
  font-size: 5vh;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px goldenrod;
  
}

.container {
  width: 100%;
  height: 90%;
  
}

.image-box {
  width: 100%;
  height: 90%;
  background: white;
  margin: auto;
  display: flex;
  position: absolute;
  background: whitesmoke; 
}

.image-containter{
  margin:auto;
  display:flex;
  width: 100vh;
  height: 60vh;
}
.image{
  width: 70%;
  height: 80%;
  background: url(../img/image-hero.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.text {
  width: 100%;
  height: 80vh;
  display: flex;
  /* position: absolute; */
}

.text-box {
  position: relative;
  /* max-width: 800px; */
  width: 100%;
  height: 40vh;
  margin: auto;
}

.text-box-2 {
  float: right;
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.text-designer {
  width: 100%;
}

.text-designer-sub {
  display: flex;
  align-items: center;
  width: 40vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

@media screen and (min-height: 900px)
hr {
    width: 28%;
}

hr {
  width: 33%;
  margin-right: 10px;
  border: 1px solid #000000;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}


.text-designer{
  width:80%;
}
.text-designer p{
  line-height: 1;
  margin: 0;
  font-size: 9vh;
  font-weight: 700;
  color: black;
}
.text-designer p::selection{
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.text-designer-sub p {
  margin: 0;
  font-size: 1.6vh;
  font-weight: 600;
  color: black;
  text-align: left;
  width: 100%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-designer-sub p::selection {
  color: black;
  background: #F44336;
}


.text-links a{
  line-height: 1;
  margin: 0;
  font-size: 5vh;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px goldenrod;
  text-decoration:none;
  font-family: 'Lato', sans-serif;
  /* text-transform:uppercase; */
}
.text-links a:hover{
  color: goldenrod;
  /* -webkit-text-stroke: 0px #F44336; */
  cursor: pointer;
  -webkit-transition: color 1.5s ease-in;
  -moz-transition: color 1.5s ease-in;
  -o-transition: color 1.5s ease-in;
  transition: color 1.5s ease-in;
  font-family: 'Lato', sans-serif;
}
}
.text-links a::selection{
  color: transparent;
  font-family: 'Lato', sans-serif;
  /* -webkit-text-stroke: 1px black; */
}

.text-links-about a, .text-links-contact a {
  color: gainsboro;
  -webkit-text-stroke: 0px goldenrod;
  text-decoration:none;
  font-family: 'Lato', sans-serif;
  
}


#logo {
  /* background-color: #111; */
  color:gainsboro;
  padding: 30px;
  font-size: 8vh;
  letter-spacing: 10px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: -12px;
  /* text-shadow: 1px 1px 2px white; */
  
}

b {
  vertical-align: middle;
  font-size: 4vh;
  letter-spacing: -12px;
}

footer, small{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #0abab5;
  text-align:center;
  background: whitesmoke; 
  /* background-color:rgb(88, 88, 88); */
}


/* #work {
  width: 60vh;
  height:10vh;
  text-align:center;
  font-size:25px;
  transform:rotate(90deg);
  background:transparent;
  color: #0abab5;
  position: absolute;
  right:0;
  bottom:70vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  z-index:4;
  transition:0.4s ease-in-out; 
  border-radius:0px 0px 100px 100px;  
} */ 



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

