* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    transition: background-color .5s;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

.container {
    border-radius: 5px;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 100px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

h2 {
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 5vh;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px goldenrod;
    text-decoration:none;
}
h4, p {
    color: lightslategray;
}

p {
    font-size: 12px;
}


/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgba(240,240,240,0.9);
    padding: 10px;
    height: 50%;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 5px 12px;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    color: goldenrod;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: gainsboro;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #0abab5;
    color: white;
}

#myBtnContainer {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer, small{
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #0abab5;
    text-align:center;
    background: whitesmoke; 
    padding-bottom: 20px;
    /* background-color:rgb(88, 88, 88); */
  }

  @media screen and (max-width:768px) {
    body {
      display:block;
    }
  
  } 
  